.github-page {
    display: flex;
    flex-direction: column;
}

.loading-container {
    position: absolute;
    top: calc(50% - 75px);
    left: calc(50% - 75px);
    margin: auto;
}

.github-container {
    margin-top: 65px;
    min-height: 100%;
    overflow: auto;
}