
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@800&display=swap');

.marquee-container {
    transition: transform 0.15s linear;
}

.marquee-text {
    text-align: center;
    font-size: 75px;
    color: White;
    font-family: 'Work Sans', sans-serif;
}

.horizontal {
    cursor: pointer;
}

#rect {
	transform: translateY(30px);
    padding-left: 20px;
	overflow: visible;
	transition: transform 0.2s linear;
    display: none;
    float: left;
}

#rectleft, #rectright {
	transform: translateX(1px) translateY(1px);
	stroke-width: 2px;
	stroke: transparent;
	fill: transparent;
}
