html {
    height: 100%;
    overflow-x: hidden;
    scrollbar-width: none;
}

body {
    margin: 0;
    background-color: black;
    font-family: 'Inconsolata', monospace;
    height: 100%;
    -ms-overflow-style: none;
}

#root {
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}